@model funduq.Models.City

@{
    ViewData["Title"] = "Create";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<div class="pagetitle">

    <h1>Create</h1>
</div>

@if (TempData["Alert"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Alert"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CityName" class="control-label">City Name</label>
                <input asp-for="CityName" required class="form-control" />
                <span asp-validation-for="CityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" style="border: none; background-color: #4154f1;" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Cities" asp-controller="Admin">Back to List</a>
</div>

